<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">

    <h1 style="color:#bb6c04">Weather Packing App</h1>
      Please enter the city you plan to go to:
    <br>

    City: <input v-model="city"> <br><br>
    <button v-on:click="GetData">Check Weather Advice</button>
    <br>
    <span v-if="history.length>0">
    
    <br> Ah the weather in {{city}}
    <hr>
    <h2>Packing</h2>
    <ul>
        <li v-if="temp > 12 && temp < 24" >Ooh its mild, maybe a light jacket</li>
        <li v-else-if="temp > 24" >Ooh its hot tshirt</li>
        <li v-else>Brrr bring a coat</li>
        <li v-if="air > 10" >Air quality isn't great pop on a mask</li>
        <li v-if="rain===true" >Yikes bring an umbrella</li>
    </ul>
    <hr>
    <h2>Summary Table</h2>
      <table border=4>
        <tr>
          <th></th>
            <th>Day One</th>
            <th>Day Two</th>
            <th>Day Three</th>
            <th>Day Four</th>
          </tr>
        <tr>
    <th>Temperature</th>
    <td v-for="current in Avgtemp">{{current}}c</td>
  </tr>
  <tr>
    <th>Wind Speed</th>
    <td v-for="current in windspeed">{{current}}km/h</td>
  </tr>
  <tr>
    <th>Rainfall</th>
    <td v-for="current in rainfall">{{current}}mm</td>
  </tr>
</table>
  <hr>
  <h2>Fun Facts</h2>
  <ul>
    <li v-if="population > 0">The population of {{city}} is: {{population}}</li>
    <li v-if="capital && country != ''">{{city}} is the capital of {{country}}</li>
    <li v-if="!capital && country !=''">{{city}} is not the capital of {{country}}</li>
    <p>Another random fun fact: <br> </p>
    <li v-if="fact != ''">{{fact}}</li>
  </ul>
    </span> 
    </div>
    
    <script>
    
    var app = new Vue({
        el:'#app',
        data:{
            umbrella: false,
            city: "dublin",
            temp: 0,
            air: 0,
            population: 0,
            rain: false,
            fact: "",
            country: "",
            capital: false,
            rainfall: [],
            windspeed: [],
            Avgtemp: [],
            history :[]},
            
        methods:{
            GetData : getData }
    })
    function getData (){
        let prom = fetch("data/"+this.city)
        prom.then( response => response.json())
        .then (response =>
        {
            this.temp = response.temp
            this.history.push(response.temp)
            this.air = response.air
            this.rain = response.rain
            this.rainfall = [...response.rainfall]
            this.windspeed = [...response.windspeed]
            this.Avgtemp = [...response.Avgtemp]
            this.population = response.population
            this.fact = response.fact
            this.country = response.country
            this.capital = response.capital
            
    })
    console.log(response.population);}
    </script>
<style>       
    hr{
        height: 1px;
        background-color: rgb(226, 145, 24);
        border: none;
    }
    button{
        background-color: rgb(226, 145, 24);
    }
    table{
        border-color: rgb(226, 139, 9);
    }
</style>